/* variables */
/*--my_background: #00c4cc !important;*/
:root {
    --my_background: #00c4cc !important;
    --my_background_initial: linear-gradient(120deg, #2980b9, #8e44ad) !important;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.signup-login {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

.login-form {
    margin: 100px;
    padding: 30px;
    border: 1px solid var(--my_background);
    box-shadow: 14px 17px 24px 0px rgba(0,0,0,0.63);
    text-align: left;
    border-radius: 15px;
    width: 40%;
    background: white;
}

.login-button {
    width: 100%;
    border-radius: 20px;
    background: var(--my_background);
    margin-top: 15px;
    font-size: 20px;
    font-weight: 600;
    border-color: #00c4cc;
}

.login-button:hover {
    background: black;
}

.login {
    text-align: center;
}

.signup-button {
    width: 100%;
    border-radius: 20px;
    background: var(--my_background);
    margin-top: 15px;
    font-size: 16px;
    font-weight: 600;
}

.signup {
    text-align: center;
}

.signup-form {
    margin-top: 10px !important;
    margin: 80px;
    padding: 30px;
    border: 1px solid var(--my_background);
    box-shadow: 14px 17px 24px 0px rgba(0,0,0,0.63);
    text-align: left;
    background-color: white;
    border-radius: 20px;
    width: 40%;
}

.signup-title {
    color: black;
    text-align: center;
    padding-bottom: 25px;
    font-size: 25px;
    font-weight: 600;
}

.info {
    color: blue;
}

.signup-btn {
    color: #00c4cc;
    padding-left: 0;
    padding-bottom: 10px;
    font-weight: 700;
}

.signup-btn:hover {
    color: black;
}

.login-title {
    text-align: center;
    padding-bottom: 25px;
    font-size: 25px;
    font-weight: 600;
}

.container-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--my_background);
}

.container-signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--my_background);
}

.navbar {
    background: var(--my_background) !important;
}

.form-control {
    border: none;
    border-bottom: 2px solid #adadad !important;
    padding: 0px;
    font-family: 'Montserrat', sans-serif !important;
}

.form-control:active ~ form-label {
        top: 140px;
}

.form-label {
    color: #adadad;
    font-size: 16px;
}

.form-control[type=file] {
    font-family: 'Montserrat', sans-serif !important;
}

.password-recovery-btn {
    color: #adadad;
    padding-left: 0;
    padding-bottom: 10px;
}

.password-recovery-btn:hover {
    color: black;
    font-weight: 600;
}

#app {
    background: var(--my_background);
}

.dropdown-menu-sec-question-signup.show {
    font-size: 14px;
}

.dropdown-item.sec-question-signup {
    color: #adadad !important;
}

.content-navbar {
    display: flex;
    width: 10%;
    justify-content: end;
}

.counter {
    margin-left: 5px;
    margin-right: 5px;
    width: 25px;
    border-radius: 10px;
}

.dropdown-toggle::after {
    align-self: center;
}

.footer {
    background: var(--my_background);
}

.layout-view {
    background: var(--my_background);
}

.profile-img {
    border-radius: 25px;
    width: 50px;
    filter: drop-shadow(2px 4px 6px black);
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
    max-width: 50px;
    max-height: 50px;
    min-width: 50px;
    min-height: 50px;
}

.profile-img:hover {
    filter: invert(1);
}

.profile {
    border-radius: 25px;
    width: 50px;
}

.add-favorite {
    font-size: 20px !important;
    margin: 0px;
    color:orange
}

.favorite-btn {
    background: var(--my_background);
    padding: 3px;
    border-color: white;
    height: 39px;
    align-items: center;
    filter: drop-shadow(2px 4px 6px black);
}

.favorite-btn:focus-within,
.favorite-btn:hover {
    background: none;
    border-color: none;
    filter: brightness(0.5);
}

.favorite-content {
    align-self: center;
    margin-left: 15px;
    margin-right: 15px;
}

.navbar-brand {
    align-self: center;
    text-shadow: 4px 4px 4px rgba(0,0,0,0.6);
    margin: 0px;
}

.dropdown-menu.show {
    background: var(--my_background);
    color: white
}

.dropdown-toggle::after {
    margin-right: 5px;
}

.dropdown-item {
    color: white;
}

button.btn.col-4.dropdown-item {
    width: auto;
}

.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .show>.nav-link {
    color: white;
    font-weight: 600;
    text-shadow: 4px 4px 4px rgba(0,0,0,0.6);
}

.navbar-dark .navbar-nav .nav-link {
    text-shadow: 4px 4px 4px rgba(0,0,0,0.6);
    color: white;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: black;
    text-shadow: 0 0 black;
    font-weight: 600;
}

.navbar-dark .navbar-toggler {
    border-color: white !important;
}

.navbar-dark .navbar-toggler:hover {
    filter: invert(1);
}

.add-favorite {
    font-size: 20px !important;
    margin: 0px;
    color: white !important;
}

.add-favorite:hover {
    font-size: 20px !important;
    margin: 0px;
    color: orange !important;
}

.add-favorite-detail {
    font-size: 20px !important;
    margin: 0px;
    color: orange !important;
}

.add-favorite-detail:hover {
    font-size: 20px !important;
    margin: 0px;
    color: orange !important;
}

.add-favorite-navbar {
    font-size: 20px !important;
    margin: 0px;
    color: orange !important;
}

.add-favorite-btn {
    background: none;
    border-color: white;
    border: none;
}

.add-favorite-btn:hover {
    background: none;
    border-color: var(--my_background);
    box-shadow: 0 0 0 0.25rem orange;
}

.add-favorite-detail-btn {
    background: none;
    border-color: white;
    border: none;
}

.add-favorite-detail-btn:hover {
    background: none;
    border-color: var(--my_background);
    box-shadow: 0 0 0 0.25rem orange;
}

.edit-recipe-detail-btn {
    background: none;
    border-color: white;
    border: none;
    color: orange;
}

.edit-recipe-detail-btn:hover {
    background: none;
    border-color: var(--my_background);
    box-shadow: 0 0 0 0.25rem orange;
    color: orange;
}

.delete-recipe-detail-btn {
    background: none;
    border-color: white;
    border: none;
    color: orange;
}

.delete-recipe-detail-btn:hover {
    background: none;
    border-color: var(--my_background);
    box-shadow: 0 0 0 0.25rem orange;
    color: orange;
}

.icon-favorite {
    width: 100%;
    display: flex;
    justify-content: right;
}

.add-favorite-btn:focus-within {
    background: none;
    border: none;
}

.favorite-list {
    justify-content: space-between;
}

.content-generate-gpt {
    background: white;
    padding: 35px;
    border-radius: 20px;
    box-shadow: 14px 17px 24px 0px rgba(0,0,0,0.63);
}

.generate-btn {
    width: 100%;
    border-radius: 20px;
    background: var(--my_background);
    margin-top: 15px;
    font-size: 18px;
    font-weight: 600;
    border-color: var(--my_background);
}

.generate-btn:hover {
    background: black;
    color: white;
}

.label-add-recipe {
    margin-top: 40px;
    margin-bottom: 15px !important;
}

.form-control[type=file] {
    color: #adadad;
    padding-left: 7px;
}

.content-save-gpt{
    background: white;
    padding: 35px;
    border-radius: 20px;
    box-shadow: 14px 17px 24px 0px rgba(0,0,0,0.63);
}

.save-btn {
    width: 100%;
    border-radius: 20px;
    background: var(--my_background);
    margin-top: 15px;
    font-size: 18px;
    font-weight: 600;
    border-color: var(--my_background);
}

.save-btn:hover {
    background: black;
    color: white;
}

#save-gpt {
    display: none;
}

.recipe-buttons {
    display: inline-flex;
    justify-content: space-around;
    width: 100%;
}

.recipe-btn {
    width: 50%;
    margin: 10px;
}

.cnt-create-recipe {
    width: 700px;
    margin-top: 29px !important;
}

#spinner-create {
    display: none;
}

.title-snipper {
    text-align: center;
}

.title-snipper-profile {
    text-align: center;
    color:black;
}

.ctn-snipper {
    margin-top: 60px;
}

.img-fluid {
    width: 100%;
    height: auto;
    max-height: 250px;
    min-height: 250px;
    object-fit: cover;
    object-position: center;
}

.ctn-my-recipes {
    margin-top: 29px !important;
}

.icon-return-login {
    cursor: pointer;
    font-size: 30px;
}

.return-login {
    width: 32px;
    background: white;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 16px;
    display: flex;
    border-radius: 20px;
    justify-content: center;
    box-shadow: 9px 4px 14px 4px rgba(0,0,0,0.63);
}

.cnt-return-login {
    width: 100%;
}

.return-login .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;

    top: 18px;
    left: 65px;
  }
  
  .return-login:hover .tooltiptext {
    visibility: visible;
  }

  .favorites-navbar {
    display: flex;
  }

  .logout-icon {
    color: white;
    font-size: 25px;
    display: flex;
    margin: 12px;
    cursor: pointer;
    filter: drop-shadow(2px 4px 6px black);
  }

  .logout-icon:hover {
    filter: invert(1);
  }

  .logo-navbar {
    width: 150px;
    height: 88px;
    object-fit: cover;
    cursor: pointer;
    filter: drop-shadow(2px 4px 6px black);
  }

  .logo-navbar:hover {
    filter: invert(1);
  }

  .navbar-toggler-icon {
    filter: drop-shadow(2px 4px 6px black);
  }

  .profile-picture {
    width: 45%;
    height: auto;
    max-height: 300px;
    min-height: 300px;
    object-fit: cover;
    align-self: center;
  }
  .edit-user {
    display: flex;
    flex-direction: column;
  }

  .ctn-edit-user-photo {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 30px;
    border: 1px solid var(--my_background);
    box-shadow: 14px 17px 24px 0px rgba(0,0,0,0.63);
    border-radius: 15px;
    background: white;
    margin-right: 30px;
    margin-left: 30px;
  }

  .edit-photo-user {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }

  .edit-user-info {
    margin-top: 10px !important;
    margin: 80px;
    padding: 30px;
    border: 1px solid var(--my_background);
    box-shadow: 14px 17px 24px 0px rgba(0,0,0,0.63);
    text-align: left;
    background-color: white;
    border-radius: 20px;
    width: 75%;
  }

  .update-picture {
    width: 100%;
    border-radius: 20px;
    background: var(--my_background);
    margin-top: 15px;
    font-size: 16px;
    font-weight: 600;
    border-color: var(--my_background);
  }

  .update-picture:hover {
    background: black;
    color: white;
  }

  .title-profile {
    color: black !important;
    font-size: 25px !important;
    font-weight: 600;
    text-shadow: 0 0 black !important;
    padding-bottom: 0 !important;
  }

  .title-profile-information {
    color: black !important;
    font-size: 25px !important;
    font-weight: 600;
    text-shadow: 0 0 black !important;
    padding-bottom: 0 !important;
    margin-top: 20px;
    margin-bottom: 15px;
    align-self: center;
  }

  .update-info-button {
    width: 100%;
    border-radius: 20px;
    background: var(--my_background);
    margin-top: 15px;
    font-size: 16px;
    font-weight: 600;
    border-color: var(--my_background);
  }

  .update-info-button:hover {
    background: black;
    color: white;
  }

  .step-detail-btn {
    margin-bottom: 25px;
    background-color: var(--my_background);
    border-color: var(--my_background);
    border-radius: 15px;
    width: 100%;
  }

  .step-detail-btn:focus,
  .step-detail-btn:focus-within,
  .step-detail-btn:hover {
    background: black;
  }

  .ingredient-detail-btn {
    margin-bottom: 15px;
    background-color: var(--my_background);
    border-color: var(--my_background);
    border-radius: 15px;
    width: 100%;
  }

  .ingredient-detail-btn:focus,
  .ingredient-detail-btn:focus-within,
  .ingredient-detail-btn:hover {
    background: black;
    border-color: black;
  }

  .ctn-detail {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }

  .card-title {
    font-weight: 600;
    width: 100%;
    text-align: center;
    margin-bottom: 25px;
  }

  .card-text {
    margin: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
    overflow-y: scroll;
  }
  
  .card-text:last-child {
    margin-bottom: 15px;
    min-height: 105px;
    max-height: 105px;
  }

  .ingredients-details {
    margin-right: 25px;
    margin-left: 25px;
  }

  .steps-details {
    margin-right: 25px;
    margin-left: 25px;
  }

  .card-img-top {
    width: 100%;
    height: auto;
    max-height: 400px;
    min-height: 400px;
    object-fit: fill;
  }

  #ctn-edit-recipe {
    display: none;
  }

/* Spinner CSS */
.loader,.loader:after,.loader:before{border-radius:50%}
.loader:after,.loader:before{position:absolute;content:''}
.loader:before{width:5.2em;height:10.2em;background:white;border-radius:10.2em 0 0 10.2em;top:-.1em;left:-.1em;-webkit-transform-origin:5.2em 5.1em;transform-origin:5.2em 5.1em;-webkit-animation:load20 2s infinite ease 1.5s;animation:load20 2s infinite ease 1.5s}
.loader{font-size:11px;text-indent:-99999em;margin:55px auto;position:relative;width:10em;height:10em;box-shadow:inset 0 0 0 1em #fff;-webkit-transform:translateZ(0);-ms-transform:translateZ(0);transform:translateZ(0)}
.loader:after{width:5.2em;height:10.2em;background:white;border-radius:0 10.2em 10.2em 0;top:-.1em;left:5.1em;-webkit-transform-origin:0 5.1em;transform-origin:0 5.1em;-webkit-animation:load20 2s infinite ease;animation:load20 2s infinite ease}
@-webkit-keyframes load20{
	0%{-webkit-transform:rotate(0);transform:rotate(0)}
	100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}
}
@keyframes load20{
	0%{-webkit-transform:rotate(0);transform:rotate(0)}
	100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}
}
/* Spinner CSS End */

/* Spinner CSS */
.loader-profile,.loader-profile:after,.loader-profile:before{border-radius:50%}
.loader-profile:after,.loader-profile:before{position:absolute;content:''}
.loader-profile:before{width:5.2em;height:10.2em;background:var(--my_background);border-radius:10.2em 0 0 10.2em;top:-.1em;left:-.1em;-webkit-transform-origin:5.2em 5.1em;transform-origin:5.2em 5.1em;-webkit-animation:load20 2s infinite ease 1.5s;animation:load20 2s infinite ease 1.5s}
.loader-profile{font-size:11px;text-indent:-99999em;margin:55px auto;position:relative;width:10em;height:10em;box-shadow:inset 0 0 0 1em var(--my_background);-webkit-transform:translateZ(0);-ms-transform:translateZ(0);transform:translateZ(0)}
.loader-profile:after{width:5.2em;height:10.2em;background:var(--my_background);border-radius:0 10.2em 10.2em 0;top:-.1em;left:5.1em;-webkit-transform-origin:0 5.1em;transform-origin:0 5.1em;-webkit-animation:load20 2s infinite ease;animation:load20 2s infinite ease}
@-webkit-keyframes load20{
	0%{-webkit-transform:rotate(0);transform:rotate(0)}
	100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}
}
@keyframes load20{
	0%{-webkit-transform:rotate(0);transform:rotate(0)}
	100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}
}
/* Spinner CSS End */