.signup-login {
    text-align: center;
    margin-left: 25px;
    margin-top: 40px;
    margin-bottom: 20px;
}

.login-form {
    margin: 25px;
    padding: 12px;
    border: 1px solid black;
    text-align: left;
}

.login-button {
    width: 100%;
}

.login {
    text-align: center;
}

.signup-button {
    width: 100%;
}

.signup {
    text-align: center;
}

.signup-form {
    margin: 25px;
    padding: 12px;
    border: 1px solid blue;
    text-align: left;
}

.signup-title {
    color: blue;
}

.info {
    color: blue;
}

.signup-btn {
    color: blueviolet;
    padding-left: 0;
    padding-bottom: 10px;
}
